# general
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=

# PostgreSQL
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# RabbitMQ
# web console:
RABBITMQ_PROTOCOL=amqps
RABBITMQ_USER=
RABBITMQ_PWD=
RABBITMQ_URL=
RABBITMQ_PORT=

# celery
CELERY_FLOWER_USER=
CELERY_FLOWER_PASSWORD=

# Server
SERVER_HOST=0.0.0.0
SERVER_PORT=80

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=
AWS_REGION=ap-northeast-1
